body {
  background-color: #172027;
  color: white;
}

.loading {
  text-align: center;
}

@media (max-width: 800px) {
  .loading img {
    width: 100%;
  }
}

.gameList {
  list-style-type: none;
}

.gameListItem {
  font-size: 1.3rem;
  line-height: 2.4rem;
}